In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('../Data/medicalCost-training.csv')

In [3]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   18    1  31.730         0       1       0  33732.68670
1   20    1  30.685         0       1       0  33475.81715
2   52    0  37.525         2       0       1  33471.97189
3   19    0  30.020         0       1       1  33307.55080
4   42    1  28.310         3       1       1  32787.45859

In [4]:
x = df.drop("charges", axis = 1).values
y = df["charges"].values

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 0)

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 3)#Polinom Derece
x_poly = poly_reg.fit_transform(X_train)
lin_reg = LinearRegression()
lin_reg.fit(x_poly,y_train)
y_pred = lin_reg.predict(poly_reg.fit_transform(X_test))

In [19]:
from sklearn.metrics import r2_score
polyScore = r2_score(y_test, y_pred)

In [21]:
polyScore

0.633779676211337

In [22]:
import joblib
joblib.dump(poly_reg, "../Models/medical_POLY_model.pkl")

['../Models/medical_POLY_model.pkl']