In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv("../Data/medicalCost-training.csv")

In [5]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   18    1  31.730         0       1       0  33732.68670
1   20    1  30.685         0       1       0  33475.81715
2   52    0  37.525         2       0       1  33471.97189
3   19    0  30.020         0       1       1  33307.55080
4   42    1  28.310         3       1       1  32787.45859

In [6]:
x = df.drop("charges", axis = 1).values
y = df["charges"].values

In [7]:
x

array([[18.   ,  1.   , 31.73 ,  0.   ,  1.   ,  0.   ],
       [20.   ,  1.   , 30.685,  0.   ,  1.   ,  0.   ],
       [52.   ,  0.   , 37.525,  2.   ,  0.   ,  1.   ],
       ...,
       [18.   ,  1.   , 33.33 ,  0.   ,  0.   ,  2.   ],
       [18.   ,  1.   , 30.14 ,  0.   ,  0.   ,  2.   ],
       [18.   ,  1.   , 23.21 ,  0.   ,  0.   ,  2.   ]])

In [8]:
y

array([33732.6867 , 33475.81715, 33471.97189, ...,  1135.9407 ,
        1131.5066 ,  1121.8739 ])

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size =0.33, random_state = 42)

In [10]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
regressor.fit(X_train, y_train)
y_pred=regressor.predict(X_test)

In [17]:
regressor.score(X_train,y_train)

0.9046741622457874

In [11]:
from sklearn.metrics import r2_score
RFscore = r2_score(y_test,y_pred)

In [12]:
RFscore

0.535335108578979

In [24]:
#Model olarak dışarı alıyoruz
import joblib
joblib.dump(regressor, "../Models/medical_random_forest_model.pkl")

['../Models/medical_random_forest_model.pkl']